    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #000;
        font-family: 'Roboto', sans-serif;
        background-color: #000;
    }
    
    .navbar {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        background-color: #000;
    }
    
    .logo {
        font-family: 'Sen', sans-serif;
        color: rgb(202, 21, 21);
        font-size: 40px;
        margin: 10px 30px;
    }
    
    .logo:hover {
        cursor: pointer;
        color: rgb(100, 27, 27)
    }
    
    .menu {
        display: flex;
        flex: 5;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
    }
    
    .menu-list {
        display: flex;
        list-style: none;
    }
    
    .menu-list-item {
        margin: 10px auto;
        padding: 10px 15px;
        color: rgb(209, 193, 193);
        cursor: pointer;
        font-size: 18px;
    }
    
    .menu-list-item.active {
        font-weight: bolder;
    }
    
    .menu-list-item:hover {
        opacity: 0.5;
        transition-duration: 0.5ms;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    .search {
        background-color: transparent;
        border: 2px solid rgb(114, 109, 104);
        border-radius: 50px;
        font-size: 1rem;
        margin: 10px 30px;
        padding: 0.5rem 1rem;
        color: rgb(190, 181, 171);
    }
    
    .search::placeholder {
        color: rgb(80, 76, 70);
    }
    
    .search::focus {
        outline: none;
        background-color: #22254b;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(175, 56, 19);
    }
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .movie {
        width: 300px;
        margin: 20px;
        position: relative;
        overflow: hidden;
    }
    
    .movie img {
        width: 300px;
        cursor: pointer;
    }
    
    .movie-info {
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px 5px;
        letter-spacing: 1px;
    }
    
    .movie-info h3 h4 {
        margin-top: 0;
    }
    
    .movie-info span {
        background-color: rgba(70, 63, 60, 0.301);
        color: #fff;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .movie-info span.green {
        color: green;
    }
    
    .movie-info span.orange {
        color: orange;
    }
    
    .movie-info span.red {
        color: red;
    }
    
    .overview {
        background-color: #fff;
        padding: 0.5rem;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 100%;
        transform: translateY(101%);
        transition: transform 0.4s ease-in;
    }
    
    .overview h3 {
        margin-bottom: 10px;
    }
    
    .movie:hover .overview {
        transform: translateY(0);
    }